<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-content">
          <p>Copyright &copy; 2020 Sixteen Clothing Co., Ltd.</p>

          - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="js/custom.js"></script>
<script src="js/owl.js"></script>
<script src="js/slick.js"></script>
<script src="js/isotope.js"></script>
<script src="js/accordions.js"></script>

<script language="text/Javascript"> 
  cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
  function clearField(t) {                   //declaring the array outside of the function makes it static and global
    if (!cleared[t.id]) {                    
      cleared[t.id] = 1;  
      t.value = '';         
      t.style.color = '#fff';
    }
  }
</script>

</body>

</html>